/*-- Подключение шрифтов --*/
@font-face {
    font-family: 'Inter-Regular';
    src: url('.././fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Thin';
    src: url('.././fonts/Inter-Thin.ttf');
}

@font-face {
    font-family: 'Inter-Light-W';
    src: url('.././fonts/Inter-Light.ttf');
}